In [ ]:
import pandas as pd

In [ ]:
df_sample_sub = pd.read_csv('raw/sample_submission.csv')
df_sample_sub.head(1)

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_sample_sub.tail(1)

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
len(df_sample_sub)

60980

In [ ]:
df_sample_sub['id'].unique().size

60980

In [ ]:
df_val = pd.read_csv('raw/sales_train_validation.csv')
df_val.head(1)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1

In [ ]:
len(df_val)

30490

In [ ]:
def submission_df(n_days=28, prefix='_validation'):
    ids = df_val['item_id'] + '_' + df_val['store_id'] + prefix
    date_col_names = [f'F{i}' for i in range(1,n_days + 1)]
    df = {'id': ids}
    df.update({col:[0] * len(ids) for col in date_col_names})
    return pd.DataFrame(df)
    
sub_df1 = submission_df(prefix='_validation')
sub_df2 = submission_df(prefix='_evaluation')
sub_df = pd.concat([sub_df1, sub_df2])

In [ ]:
fn = 'submissions/v0000_all_zero.csv'
sub_df.to_csv(fn, index=False)

In [ ]:
!head -n2 {fn}

id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
!wc -l {fn}

60981 submissions/v0000_all_zero.csv

In [ ]:
!wc -l raw/sample_submission.csv

60981 raw/sample_submission.csv

In [ ]:
kaggle_competition='m5-forecasting-accuracy'
!KAGGLE_CONFIG_DIR=.. kaggle competitions submit \
              -f {fn} \
              -m "All zero cmd line sub" {kaggle_competition}

100%|███████████████████████████████████████| 4.99M/4.99M [00:07<00:00, 745kB/s]
Successfully submitted to M5 Forecasting - Accuracy

In [ ]:
!KAGGLE_CONFIG_DIR=.. kaggle competitions submissions {kaggle_competition}

fileName                date                 description            status    publicScore  privateScore
----------------------  -------------------  ---------------------  --------  -----------  ------------
v0000_all_zero.csv      2021-05-18 02:54:53  All zero cmd line sub  complete  5.44561      5.39065
all_zero_v0000.csv      2021-05-18 02:49:33  All zero cmd line sub  error     None         None
all_zero_v0000.csv      2021-05-18 02:49:27  All zero cmd line sub  error     None         None
all_zero_v0000.csv      2021-05-18 02:48:15  All zero cmd line sub  error     None         None
0400-fastai-sample.csv  2020-04-05 00:29:47  None                   complete  5.44561      5.39065
0200-naive.csv          2020-03-22 23:26:07                         complete  0.83770      5.39065
0200-naive.csv          2020-03-22 23:20:13  None                   error     None         None